#postForm {
    display: flex;
    flex-flow: column;
    align-items: stretch;
}

#postForm > * {
    display: flex;
    flex-flow: column;
    margin: 1em 0;
}

#postForm > label > * {
    margin-top: 1em;
}

#postForm input[name=title] {
    height: 2em;
}

#postForm > .singleLine {
    flex-flow: row;
}

#postForm input[type=checkbox] {
    align-self: start;
    margin: auto auto auto 3em;
}

#postForm textarea[name=summary] {
    height: 10em;
}

#postForm textarea[name=content] {
    height: 30em;
}

#postForm > input[type=submit] {
    width: 10em;
    height: 3em;

    align-self: center;
}
