#sidebar {
    flex: 1 1 10em;

    padding: 1em .5em;

    border-top: 1px solid #baaa8f;
    border-left: 1px solid #baaa8f;
    background-color: bisque;
    color: black;
}

#sidebar a, #sidebar button {
    background-color: #f5d9b9;
    box-shadow: 0 0 2px 2px #f5d9b9;

    display: block;

    padding: 8px;
}

#sidebar a:hover, #sidebar button:hover {
    background-color: #eedfc7;
}
