body {
    font-family: 'Lato', sans-serif;

    width: 100%;
    max-width: 55em;
    padding: 0;
    margin: 0 auto;

    box-sizing: border-box;

    background-color: #282d29;
    color: whitesmoke;
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 130%;
}

h3 {
    font-size: 120%;
}

h1 a, h1 a:visited, h2 a, h2 a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover, h1 a:hover, h2 a:hover {
    color: #e330e3;
}

#root > header {
    display: flex;
    flex-flow: wrap;
    align-content: flex-end;
    justify-content: flex-end;
    padding: 1em;

    background-color: tan;
    color: black;

    border-bottom: 1px solid #baaa8f;
}

#root > header > h1 {
    flex: 1 1 auto;

    font-size: 180%;

    margin: 0;
    padding: 1em;
}

#root > header img {
    width: 40px;
    height: auto;

    vertical-align: text-bottom;
    margin-right: 0.25em;
}

#root #search {
    flex: 1 1 auto;
    align-self: flex-end;
    text-align: end;
}

#root > footer {
    margin-top: 1em;
}

#content {
    display: flex;
    flex-flow: wrap;

    background-color: blanchedalmond;
    color: black;
}

img {
    max-width: 100%;
}

main {
    flex: 3 1 30em;

    padding: 1em .5em 1em 1em;

    border-top: 1px solid #baaa8f;
    border-bottom: 1px solid #baaa8f;
}
