body {
    font-family: 'Lato', sans-serif;

    width: 100%;
    max-width: 55em;
    padding: 0;
    margin: 0 auto;

    box-sizing: border-box;

    background-color: #282d29;
    color: whitesmoke;
}

h1 a, h1 a:visited, h2 a, h2 a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover, h1 a:hover, h2 a:hover {
    color: violet;
}

#root > header {
    margin: 0;

    background-color: tan;
    color: black;

    border-bottom: 1px solid #baaa8f;
}

#root > footer {
    margin-top: 1em;
}

header > h1 {
    margin: 0;
    padding: 1em;
}

#content {
    display: flex;
    flex-flow: wrap;

    background-color: blanchedalmond;
    color: black;
}

main {
    flex: 1 2 30em;

    padding: 1em .5em 1em 1em;
}

article {
    margin: 0 0 4em;
}

article > header {
    display: flex;
    flex-wrap: wrap-reverse;
}

article > header h2 {
    flex: 1 1 auto;
    text-align: left;
    margin: 0 0 .25em;
    padding-bottom: .25em;

    max-width: 100%;
    overflow-wrap: break-word;
}

article > header .meta {
    flex: 1 1 auto;
    text-align: right;
    margin: 0;
}

article > footer {
    margin: .5em 0 0;
}

#controls > * {
    display: block;
    margin-bottom: 1em;
}
