body {
    font-family: 'Lato', sans-serif;

    width: 100%;
    max-width: 55em;
    padding: 0 1em;
    margin: 0 auto;

    box-sizing: border-box;
}

#controls > * {
    display: block;
    margin: 1em;
}

#content {
    display: flex;
    flex-flow: wrap;
}

main {
    flex: 1 2 30em;
}

article {
    margin: 0 0 4em;
}

article > header {
    display: flex;
    flex-wrap: wrap-reverse;
}

article > header h2 {
    flex: 1 1 auto;
    text-align: left;
    margin: 0 0 .25em;
    padding-bottom: .25em;

    max-width: 100%;
    overflow-wrap: break-word;
}

article > header .meta {
    flex: 1 1 auto;
    text-align: right;
    margin: 0;
}

article > footer {
    margin: .5em 0 0;
}

#postForm {
    display: flex;
    flex-flow: column;
    align-items: stretch;
}

#postForm > * {
    display: flex;
    flex-flow: column;
    margin: 1em 0;
}

#postForm > label > * {
    margin-top: 1em;
}

#postForm input[name=title] {
    height: 2em;
}

#postForm > #publicLabel {
    flex-flow: row;
}

#postForm input[name=public] {
    align-self: start;
    margin: auto auto auto 3em;
}

#postForm textarea[name=summary] {
    height: 10em;
}

#postForm textarea[name=content] {
    height: 30em;
}

#postForm > input[type=submit] {
    width: 10em;
    height: 3em;

    align-self: center;
}
