article {
    margin: 0 0 2em;
}

article > header {
    display: flex;
    flex-wrap: wrap-reverse;
}

article > header h1 {
    flex: 1 1 auto;
    text-align: left;
    margin: 0 0 .25em;
    padding-bottom: .25em;

    max-width: 100%;
    overflow-wrap: break-word;
}

article > header .meta {
    flex: 1 1 auto;
    margin: 0;

    text-align: right;
    font-size: 90%;
}

article > .content {
    margin: 0 1em;
}

article > footer {
    margin: 2em 0 0;

    font-weight: lighter;
    font-size: 90%;
}

.summaryBlock > header a:visited {
    color: grey;
}

.summaryBlock > footer {
    padding-top: 16px;
}

.summaryBlock > footer > a {
    padding: 16px 8px;
}

#controls > * {
    display: block;
    margin-bottom: 1em;
}

#controls button {
    display: block;

    padding: 0;
    width: 100%;
    text-align: left;

    background: none;
    color: #069;
    border: none;

    font-family: 'Lato', sans-serif;
    font-size: 1em;
    text-decoration: underline;
    cursor: pointer;
}

#controls button:hover {
    color: violet;
}

#controls button:active {
    color: red;
}
